/*font-family: 'Jost', sans-serif;*/
body {
	background-color: #1f1938;

}

.topbar {
	background-color: #342a61;
	overflow: hidden;
}

h1 {
	font-family: 'Jost', sans-serif;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: #d4553b;
	position: absolute;
	text-align: center;
	float: left;
	padding: 12px 14px;


}

.button1 {
	font-family: 'Jost', sans-serif;
	font-weight: bold;
	font-size:30px;
	color: #1f1938;
	background-color: #d4553b;
	border: none;
	border-radius: 4px;
	position: absolute;
	left: 320px;
	top: 42px;
	text-align: center;
	float: left;
	
}

.button1 span {
	cursor: pointer;
	transition: 0.3s;
}

.button1:hover span {
	color: #ffffff;
}


.box1 {
	width: 400px;
	height: 400px;
	background-color: #d4553b;
	position: relative;
	top: 100px;
	border-radius: 12px;
}

h2 {
	font-family: 'Jost', sans-serif;
	font-weight: bold;
	font-size:40px;
	color: #ffffff;
	text-align: center;
}

.thumbnailTaxi {
	position: absolute;
	left: 72px;
	border: 2px ;
	border-radius: 12px;
}

.topline {
	width: 99%;
	height: 5px;
	background-color: #ffffff;
	position: absolute;
	top: 100px;
}

.buttonTaxi {
	font-family: 'Jost', sans-serif;
	font-weight: bold;
	font-size:30px;
	color: #d4553b;
	background-color: #1f1938;
	border: none;
	border-radius: 4px;
	position: absolute;
	left: 73px;
	top: 245px;
	cursor: pointer;
}


